/* *, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} */

/* body {
    background: linear-gradient(90deg, #16a085, #f4d03f);
    font-family: "Montserrat", sans-serif;
    color: #fff;
    height: 100vh;
} */

.menu {
    display: block;
    position: fixed;
    /*left: 50%;*/
    width: 100%;
    /* top: 36px; */
    z-index: 20;
    /* padding-left: 10px; */
}

.menu ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.menu ol:first-child {
    width: 100%;
    /* max-width: 960px; */
    /* margin: 1rem auto 0 auto; */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    /* box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3); */
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 2px solid #16a085; */
    position: relative;
    transition: background 0.3s ease-in-out;
}

.menu-item .sub-menu>a {
    color: red;
}

/* .menu-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
} */

.menu-item .sub-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: transform 0.3s linear;
    background-color: #74737086;
}

.menu-item .sub-menu .menu-item {
    border-color: rgba(255, 255, 255, 0.15);
}

/* .menu-item .sub-menu .menu-item>a::before {
    content: "";
} */

/* .menu-item .sub-menu .menu-item .sub-menu-2 .menu-item-2>a:hover::before {
    content: "";
} */

.menu-item .sub-menu .menu-item:first-child {
    border: 0;
}

/* .menu-item:hover, .menu-item.active {
    
    border-bottom: 2px solid #f4d03f;
    background-color: rgba(255, 255, 255, 0.15);
} */

.menu-item:hover>a::before, .menu-item.active>a::before {
    color: white;
}

.menu-item:hover .sub-menu {
    transform: rotateX(0deg);
}

.menu-item a {
    /* font-size: 0.8rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    padding: 1.5em 0;
}

/* .menu-item>.sub-menu>.menu-item {
    padding: 0 auto;
} */

.menu-item>.sub-menu>.menu-item a {
    /* height: 40px; */
    padding: 0;
    font-size: 13px;
}

/* @media (min-width: 768px) {
    .menu-item a {
        font-size: 1rem;
    }
} */

/* ==================================== */
/* root: hover/persistence */

.menu a:hover, .menu a:focus, .menu li:hover a {
    background: #555;
    color: #FFF;
  }
  
  /* 2 */
  
  .menu li li a, .menu li:hover li a {
    padding: 8px 10px;
    background: #555;
    color: #FFF;
    font-size: 12px;
    line-height: normal;
  }
  
  /* 2: hover/persistence */
  
  .menu li:hover li a:hover, .menu li:hover li a:focus, .menu li:hover li:hover a {
    background: #444;
  }
  
  /* 3 */
  
  .menu li:hover li:hover li a {
    background: #444;
  }
  
  /* 3: hover/persistence */
  
  .menu li:hover li:hover li a:hover, .menu li:hover li:hover li a:focus, .menu li:hover li:hover li:hover a {
    background: #333;
  }
  
  /* 4 */
  
  .menu li:hover li:hover li:hover li a {
    background: #333;
  }
  
  /* 4: hover */
  
  .menu li:hover li:hover li:hover li a:hover, .menu li:hover li:hover li:hover li a:focus {
    background: #222;
  }